<div class="todo-list-container d-flex flex-column align-center">
    <h3>To Do List</h3>
    <ng-container *ngFor="let task of todoList">
        <div class="task">
            <div class="header d-flex justify-between">
                <div class="left-actions d-flex align-center">
                    <app-checkbox></app-checkbox>
                    <label>Do homework</label>
                </div>

                <div class="right-actions">
                    <app-button class="secondary" (click)="task.show = !task.show">Detail</app-button>
                    <app-button class="danger">Remove</app-button>
                </div>
            </div>
            <app-task-detail [data]="task"></app-task-detail>
        </div>
    </ng-container>
</div>