@import "variables";
input[type=text], input[type=date], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid $primary;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=text].task-title {
    margin-bottom: 20px;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline: none;
}

input[type=date]:hover, select {
    cursor: pointer;
}

textarea {
    margin-bottom: 10px;
    resize: vertical;
}

.bottom {
    display: flex;
    .date-container {
        margin-right: 10px;
    }

    & > div {
        width: 100%;
    }
}