.sidebar-container {
    padding: 20px;
}

h3 {
    margin-bottom: 40px;
}

app-button {
    width: 100%;
}

:host::ng-deep {
    app-button button {
        margin-top: 40px;
        width: 100%;
    }
}