@import "variables";

input:not(input[type=date]) {
    margin-top: 0;
}

.desc-label {
    margin-top: 20px;
}

textarea {
    margin-bottom: 10px;
    resize: vertical;
}

.bottom {
    display: flex;
    .date-container {
        margin-right: 10px;
    }

    & > div {
        width: 100%;
    }
}

.error {
    font-size: 12px;
    color: $danger;
}

button {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
}

:host::ng-deep {
    .add {
        width: 100%;
    }
}
